/* Ensure body takes up the full viewport and doesn't overflow */
body {
  margin: 0;
  padding: 0;
  background-color: #3c3636; /* Set background color to match grid */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* For larger screens */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 70px;
  background-color: #3c3636;
  padding: 50px 30px ;
  border-radius: 10px;
  width: calc(100%-60px); /* Ensure grid takes full width of container */
  max-width: 1200px; /* Limit width to ensure consistency on larger screens */
  margin: 0 auto;
  box-sizing:border-box; /* Center the grid */
}

.movie-card {
  background-color: #201a1a;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(70, 67, 67, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.movie-card:hover {
  background-color: #9a9191;
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  color: #8f8b8b;
  margin:5px 0 ;
}

.movie-card p {
  color: #8f8b8b;
  margin:5px 0;
}

.star-rating {
  display: flex;
  
  margin-left: 55px;
}

.star-rating .filled-star {
  color: gold;
}

.star-rating span {
  font-size: 1.3em;
  margin-right: 0.1em;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }

  .movie-card {
    padding: 6px;
  }

  .movie-card img {
    height:auto;
    max-width: 100%;
  }

  .movie-card h3 {
    font-size: 1rem;
  }

  .movie-card p {
    font-size: 0.9rem;
  }

  .star-rating span {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }

  .movie-card {
    padding: 5px;
  }

  .movie-card h3 {
    font-size: 0.9rem;
  }

  .movie-card p {
    font-size: 0.8rem;
  }
}
