.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #201a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries for Responsive Design */

/* Tablets and small laptops */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(9px + 2vmin);
    padding: 20px;
    flex-direction: row; 
    justify-content: space-between;
    min-height: 50px;
  }

  .App-logo {
    height: 30vmin;
    width: 100px;
    height: auto;
    margin-left:10px;
  }
  
  .search-bar {
    flex-grow: 1;
    margin-left: 10px;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50px;
  }

  .App-logo {
    height: 25vmin;
    margin-left: 20px;
  }

  .App-link {
    font-size: 1.2rem;
    padding: 10px;
  }
}

.MuiDrawer-root {
  display: block; /* Ensure the sidebar is visible on all screen sizes */
}

@media (max-width: 768px) {
  .MuiDrawer-root {
    width: 60px;
    overflow: hidden;
  }

  .MuiDrawer-root .MuiListItem-root {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .MuiDrawer-root {
    width: 50px;
  }

  .MuiDrawer-root .MuiListItem-root {
    justify-content: center;
  }
}
